@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

.album {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.button {
    position: relative;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 200px;
    overflow: hidden;
    flex-shrink: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 2px;
    overflow: hidden;
}

.album-name {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 12pt;
    color: #e8e8e8;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.artist-name {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 11pt;
    color: #8b8b8b;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.popup {
    max-height: 0;
    overflow: hidden;
}

.popup.open {
    max-height: 300px;
}